{% extends 'base.html.twig' %}

{% block title %} Reservation{% endblock %}

{% block body %}
    <h1 class="formCont">Nouvelle Réservation</h1><br><br>

    {{ include('reservation/_form.html.twig') }}

{% endblock %}
