{% extends 'base.html.twig' %}

{% block title %}Liste des chateaux{% endblock %}

{% block body %}
<header>

      <h1>Liste des chateaux</h1>

      {% for house in houses %}
      <div class="card"style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title">{{ house.name }}</h5>
          <p class="card-text">{{ house.description }}</p>
          <img class="img" src="/images/upload/{{ house.imagePath }}" alt="house">

        </div>
      </div>

      {% endfor %}
      {% endblock %}