{% extends 'base.html.twig' %}

{% block title %}Liste des logement en bord de mer{% endblock %}

{% block body %}
<header>
  
      <h1 class="title">Liste des logements en bord de mer</h1>

      <section class="d-flex gap-5 flex-wrap justify-content-center flex-row">

      {% for house in houses %}
      <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title">{{ house.name }}</h5>
          <p class="card-text">{{ house.description }}</p>
                        <p>{{ house.price }}</p>

          <img class="img" src="/images/upload/{{ house.imagePath }}" alt="house">

        </div>
      </div>

      {% endfor %}
      </section>
      {% endblock %}