{% extends 'base.html.twig' %}

{% block title %}Mes logements{% endblock %}

{% block body %}
    <div class="container">
        <div class="  row justify-content-center">
            <div class="col-md-8">
                <h1 class="title">Mes logements en ligne</h1>
                <ul>
                    {% for house in userHouses %}
                        <li>{{ house.name }} - {{ house.description }}</li>
                        <img class="img" src="/images/upload/{{ house.imagePath }}" alt="house">
                        <p>{{ house.price }}</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
