{% extends 'base.html.twig' %}
{% block title %}Confirmation de Réservation{% endblock %}

{% block body %}
    <h1>Confirmation de Réservation</h1>

    <h2>Voici les détails de votre réservation :</h2>
    
    <ul>
        <li><strong>Date d'arrivée:</strong> {{ reservation_data.checkin }}</li>
        <li><strong>Date de départ:</strong> {{ reservation_data.checkout }}</li>
        
        <li><strong>Message:</strong> {{ reservation_data.visitor_message }}</li>
    </ul>


{% endblock %}
