{% extends 'base.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
    <h1>Réservations</h1>
    <ul>
        {% for reservation in reservations %}
            <li>{{ reservation.name }} - {{ reservation.address }} - {{ reservation.price }}</li>
        {% endfor %}
    </ul>
{% endblock %}
