{% block body%}  
  

  <div class="containerFooter">
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white foot fixed-bottom" style="background-color: #FF5A5F"
          >

    <div
         class="text-center p-3"
         style="background-color: #FC642D
"
         >
      © 2024 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/"
         >L'IDEM_TP_Airbnb</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>

{% endblock %}