  {# <div class="container">
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white foot"
          style="background-color: #FF5A5F"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Vos prochaines escapades</h5>

            <p>
        Airbnb !
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Aix-En-Provence</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Banyuls-Sur-Mer</a>
              </li>
              <li>
                <a href="#!" class="text-white">Barcelone</a>
              </li>
              <li>
                <a href="#!" class="text-white">Amsterdam</a>
              </li>
              <li>
                <a href="#!" class="text-white">Bordeaux</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Bayonne</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Perpignan</a>
              </li>
              <li>
                <a href="#!" class="text-white">Paris</a>
              </li>
              <li>
                <a href="#!" class="text-white">Lyon</a>
              </li>
              <li>
                <a href="#!" class="text-white">Limoges</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Biarritz</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="mb-4" />

      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Créer un compte</span>
          <button type="button" class="btn btn-outline-light btn-rounded">
            Créer!
          </button>
        </p>
      </section>
      <!-- Section: CTA -->

      <hr class="mb-4" />

      
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: #FC642D
"
         >
      © 2024 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/"
         >L'IDEM_TP_Airbnb</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div> #}